*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

// ========== nav ==========
nav{
    background-color: rgba(0,0,0,0.8);
    height: 44px;
    position: fixed;
    width: 100%;
    z-index: 999;

    .MyContainer{
        max-width: 980px;
        margin: 0 auto;

        ul{
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0px 20px;
            height: 100%;
            align-items: center;
            font-size: 14px;
            font-weight: lighter;

            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #d6d6da;

                    &:hover{
                     color: #f5f5f7;
                    }
                }
                i{
                 font-size: 20px;
                }
            }         
        }

        ul.mobile-nav{
            display: none;
            .burger{
                div{
                    width: 20px;
                    height: 2px;
                    background-color: #d6d6da;
                    margin: 6px 0px;
                }  
             }
        }

        
    }
}

@keyframes fadeIn{
    form{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (max-width:768px){
    nav{
        .MyContainer{
            ul.mobile-nav{
                display: block;
                display: flex;
                // position: fixed;
            }

            ul.nav-menu{
                flex-direction: column;
                align-items: flex-start;
                padding: 0 50px;
                width: 100%;
                // height: calc(100vh - 44px);
                justify-content: unset;
                background-color: rgba(0,0,0,0.8);
                height: 0;
                transition: .5s ease-in-out;
                display: none;

                &.active{
                    height: calc(100vh - 44px);
                    display: block;
                }

                li{
                    // display: none;
                    opacity: 0;
                    width: 100%;
                    line-height: 44px;
                    border-bottom: 0.5px solid rgb(182, 179, 179);
                // &.active{
                //     display: block;
                // }
                }
            }
        }
    }
}
// -- End nav --

// ========== banner ==========
#banner{
    position: relative;
    background-color: rgba(0,0,0,0.925);
    width: 100%;
    height: 736px;

    .text{
        // position: relative;
        position: absolute;
        height: 50%;
        padding-top: 55px;
        margin-top: 44px;
        text-align: center;
        color: #f5f5f7;
        top: 24%;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 4;

        .headline{
            font-size: 56px;
            letter-spacing: -1.5px;
        }

        .subhead{
            font-size: 26px;
            font-weight: 300;
            letter-spacing: -1px;
            line-height: 1.5211;

            .central{
                padding-left: 0.4em;
            }
        }

        .links{
            font-size: 21px;

            a{
                color: #06c;
                &:nth-child(2){
                    margin-left: 26px;
                }
            }
        }
    }

    .img-wrapper{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        margin: auto;
        z-index: 1;

        .img{
            width: 1156px;
            height: 584px;
            background-size: 1156px 584px;
            background-image: url('../img/iphone.jpg');
            background-repeat: no-repeat;
            margin: auto;

            // img{
            //     width: 100%;
            // }
        }
        
    }
}

@media (max-width:1068px){
    #banner{
        .text{
            padding-top: 65px;
            top: 28%;

        .headline{
            font-size: 44px;
            font-weight: 600;
            letter-spacing: 0;
        }

        .subhead{
            font-size: 22px;
        }

        .links{
            font-size: 20px;
        }

        }

        .img-wrapper{
            .img{
            width: 765px;
            height: 535px;
            background-size: 765px 535px;
            // background-image: url('../img/iPhone_1068px.jpg');
            }
        }
    }
}

@media (max-width:734px){
    #banner{
    height: 548px;

        .text{
            top: 18%;

            .headline{
                font-size: 32px;
            }

            .subhead{
                font-size: 17px;
            }

            p{
                font-size: 14px;
            }

            .links{
                font-size: 17px;
            }
        }

        .img-wrapper{
            .img{
            width: 319px;
            height: 326px;
            background-size: 319px 326px;
            background-image: url('../img/iPhone_734px.jpg');
            }
        }
    }
}


    

// -- End banner --


// ========== banner-2 ==========
#banner-2{
    width: 100%;
    height: 736px;
    background-image: url('../img/banner_2_2618px.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-color: #fbfbfd;
    position: relative;

    .text{
        text-align: center;
        padding-top: 55px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .headline{
            font-size: 56px;
            letter-spacing: -1.5px;
        }

        .subhead{
            font-size: 26px;
            font-weight: 300;
            letter-spacing: -1px;
            line-height: 1.5211;
            color: #1d1d1f;

            .central{
                padding-left: 0.4em;
            }
        }

        p{
            margin-bottom: unset;
        }

        .links{
            font-size: 21px;
            margin-top: .6em;

            a{
                color: #06c;
                &:nth-child(2){
                    margin-left: 26px;
                }
            }
        }
    }
}

@media (max-width:1068px){
    #banner-2{
        height: 694px;
       

        .text{
            .headline{
                font-size: 42px;
            }

            .subhead{
                font-size: 22px;
            }

            .links{
                font-size: 19px;
            }
        }
    }   
}

@media (max-width:734px){
    #banner-2{
        height: 548px;
        background-image: url('../img/banner_2_1068px.jpg');

        .text{
            .headline{
                font-size: 32px;
            }

            .subhead{
                font-size: 17px;
            }

            p{
                font-size: 14px;
            }

            .links{
                font-size: 17px;
                margin-top: .47em;
            }
        }
    }
}
// -- End banner-2 --

// ========== banner-3 ==========
#banner-3{
    width: 100%;
    height: 736px;
    position: relative;
    background-image: url('../img/banner_3.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-color: #fafafa;

    .text{
        text-align: center;
        padding-top: 55px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .headline{
            font-size: 56px;
            font-weight: 500;
        }

        .subhead{
            font-size: 25px;
            font-weight: 400;
        }

        .links{
            font-size: 20px;
            margin-top: .6em;

            a{
                color: #06c;
                &:nth-child(2){
                    margin-left: 26px;
                }
            }
        }
    }
}

@media (max-width:1068px){
    #banner-3{
        height: 694px;
        background-image: url('../img/banner_3_1068px.jpg');
        background-size: unset;

        .text{
            padding-top: 65px;

            .headline{
                font-size: 44px;
                font-weight: 600;
            }

            .subhead{
                font-size: 22px;
                font-weight: 100;
            }

        }
    }
}

@media (max-width:734px){
    #banner-3{
        height: 548px;
        background-image: url('../img/banner_3_734px.jpg');

        .text{
            .headline{
                font-size: 31px;
                font-weight: 600;
            }

            .subhead{
                font-size: 18px;
            }

            .links{
                font-size: 18px;
            }
        }
    }
}

// -- End banner-3 --

// ========== products ==========
#products{

    .img-wrapper-1{
        height: 624px;
        background-image: url('../img/products_1.jpg');
        background-position-x: center;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        color: #f5f5f7;

        .text{
            padding-top: 52px;
            text-align: center;

            .headline{
                font-size: 40px;
            }

            .subhead{
                font-size: 21px;
            }

            .links{
                a{
                    color: #06c;
                    &:nth-child(2){
                        margin-left: 26px;
                    }
                }
            }
        }
    }

    .img-wrapper-2{
        height: 624px;
        background-image: url('../img/products_2.jpg');
        background-position-x: center;
        background-position-y: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 60%;
        background-color: black;
        color: #f5f5f7;

        .text{
            padding-top: 52px;
            text-align: center;

            .headline{
                font-size: 40px;
            }

            .subhead{
                font-weight: 100;
                margin-top: .7em;
            }
        }
    }

    .img-wrapper-3{
        height: 624px;
        background-image: url('../img/products_3.jpg');
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        position: relative;
        background-color: #fafafa;

        .text{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 54px;
            text-align: center;

            .headline{
                font-size: 40px;
                font-weight: 600;

                span{
                    font-size: 18px;
                    text-transform: uppercase;
                    color: rgb(231, 3, 3);
                    letter-spacing: 1px;
                }
            }

            .subhead{
                font-size: 18px;
                font-weight: 300;
                color: #1d1d1f;
            }

            .links{
                margin-top: .7em;
                a{
                color: #06c;

                    &:nth-child(2){
                        margin-left: 26px;
                    }
                }
            }
        }
    }

    .img-wrapper-4{
        height: 624px;
        background-image: url('../img/products_4.jpg');
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
        position: relative;
        background-color: #fafafa;

        .text{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 54px;
            text-align: center;
            width: 88%;

            .headline{
                width: 100%;
                font-size: 40px;    
                line-height: 1.5381;      
            }

            .subhead{
                font-size: 19px;
                font-weight: 100;
                color: #1d1d1f;
            }

            .links{
                margin-top: .7em;
                a{
                color: #06c;

                    &:nth-child(2){
                        margin-left: 26px;
                    }
                }
            }
        }
    }

    .img-wrapper-5{
        height: 624px;
        background-image: url('../img/products_5.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;

        .text{
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            .links{
                margin-bottom: 16px;

                a{
                    color: #fff;
                }
            }
        }
    }

    .img-wrapper-6{
        height: 624px;
        text-align: center;
        color: #fff;
        background-image: url('../img/products_6.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        position: relative;

        .text{
            padding-top: 56px;

            .headline{
                font-size: 40px;
            }

            .subhead{
                font-size: 19px;
                font-weight: 100;
            }

            .links{
                margin-top: .7em;
                a{
                    color: #fff;
                    &:nth-child(2){
                        margin-left: 26px;
                    }
                }
            }
        }

        .img{
            margin-bottom: 28px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        
    }
}

@media (max-width:1068px){
    #products{
        .img-wrapper-1{
            height: 534px;
            background-image: url('../img/products_1_1068px.jpg');
        
            .text{
                .headline{
                    font-size: 32px;
                }

                .subhead{
                    font-size: 19px;
                    font-weight: 100;
                }
            }
        }

        .img-wrapper-2{
            height: 534px;
            background-image: url('../img/products_2_1068px.jpg');
            background-size: 90%;

            .text{
                .headline{
                    font-size: 32px;
                }

                .subhead{
                    font-size: 19px;
                }
            }
        }

        .img-wrapper-3{
            height: 534px;
            background-image: url('../img/products_3_1068px.jpg');

            .text{
                .headline{
                    font-size: 32px;

                    span{
                        font-size: 14px;
                    }
                }

                .subhead{
                    font-size: 17px;
                }

                .links{
                    font-size: 15px;
                }
            }
        }

        .img-wrapper-4{
            height: 534px;
            background-image: url('../img/products_4_1068px.jpg');
        
            .text{
                .headline{
                    font-size: 32px;
                    font-weight: 600;
                }

                .subhead{
                    font-size: 17px;
                    font-weight: 300;
                }

                .links{
                    font-size: 15px;
                }
            }
        }

        .img-wrapper-5{
            height: 534px;
            background-image: url('../img/products_5_1068px.jpg');
        }

        .img-wrapper-6{
            height: 534px;
            background-image: url('../img/products_6_1068px.jpg');
        
            .text{
                .headline{
                    font-size: 32px;
                }

                .subhead{
                    font-size: 19px;
                    font-weight: 100;
                }

                .links{
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width:768px){
    .img-wrapper-2{
        background-size: 100%;
    }
}

@media (max-width:375px){
    #products{
        #iphone11Pro{
            padding-right: 0px;
            padding-left: 0px;
        }

        #WWDC20{
            padding-right: 0px;
            padding-left: 0px;
        }

        #Watchseries{
            padding-right: 0px;
            padding-left: 0px;
        }

        #custom{
            padding-right: 0px;
            padding-left: 0px;
        }

        #park{
            padding-right: 0px;
            padding-left: 0px;
        }

        #bob{
            padding-right: 0px;
            padding-left: 0px;
        }
    }
}
// -- End products --

// ========== footer ==========

#footer{
    background-color: #f5f5f7; 
    color: #86868b;
    // color: #1d1d1f;
    margin-top: 15px;
    width: 100%;
    min-height: 626px;
    font-size: 1px;

    
    .text{  
        padding: 17px 0 11px;
        font-weight: 100;
        letter-spacing: normal;
        border-bottom: 1px solid #d2d2d7;
        ul{
            li{
                list-style: none;
                padding-bottom: 0.8em;
            }
        }
    }

    .footer-nav{
        padding-top: 20px;
        width: 100%;
        font-size: 1px;
        
        .links{
            display: flex;
            width: 100%;
            justify-content: space-between;


            .menu{
            
                h3{
                    font-size: 12px;
                    line-height: 1.33337;
                    font-weight: 100;
                    letter-spacing: -.01em;
                    font-weight: 600;
                    color: #1d1d1f;
                    // margin: 0;

                }
                

                ul.collapse{
                    // margin: 0;
                    // padding: 0;
                    transition: all 1s ease-in;


                    li{
                        list-style: none;
                        padding-bottom: .6rem;
                        // color: #515154;
                    }
                }

                ul.Myshow{
                    display: block;
                }
            }   
        }
    }

    
}

@media (max-width:767px){
    #footer{
        padding: 0 16px;
        .footer-nav{
            .links{
                flex-direction: column;

                .menu{
                    position: relative;
                    width: 100%;
                    border-bottom: 1px solid #d2d2d7;

                        &::before{
                            content: '+';
                            position: absolute;
                            right: 0;
                            font-size: 15px;
                        }
                    
                    h3{
                        line-height: 3;
                    }

                    ul.collapse{
                        
                        li{
                            padding: 6px 0px;
                        }
                    }

                    ul.Myshow{
                        display: none;
                    }

                    ul.show{
                        display: block !important;
                    }
                                         
                }

            }
        }
    }
}

// -- End footer --
